  .menu-container  {
  margin-right: 30px;
  }
  
  ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding-top: 10px;
  }
  
  li {
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  li:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .lists {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  font-weight: 300;
  }