.skills-list{
  display: flex;
  justify-content: center;
}

.list h1 {
  font-size: 18px;
}
.list h2{
  font-size: 12px;
}

.list{
  color: #fff;
  padding: 4%;
  width: 170px;
  height: 130px;
  margin: 0 -15px;
  mix-blend-mode: multiply;
}

#list1 {
  background: #EAB595;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}
#list2 {
  background: #D87F81;
  border-radius: 80% 30% 50% 50%/50%;
}
#list3 {
  background: #AE6378;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}

#list4 {
  background: #737955;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

#list5 {
  background: #C8C6B1;
  border-radius: 80% 30% 50% 50%/50%;
}

#list6 {
  background: #4E575C;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}

.experienced{
  padding-top: 10px;
}