.icons {
  margin-left: 30px;
  padding-top: 30px;
}

i {
  margin-left: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
i:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}