*{
  padding: 0px;
  margin: 0px;
}

.sub-title {
  padding: 30px 20px;
}

h2 {
  font-size: 15px;
  font-weight: 100;
}

a {
  color: black;
}


.App{
  background-color:  #F0EFE8;
}

.App-header{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 70px;
  background-color:  #F0EFE8;
}

.title-font{
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  cursor: pointer;
  margin-left: 20px;
}

.common-container{
  width: 100vw;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 100px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  text-align: center;
}

.footer-container{
  width:100%;
  background-color: #F0EFE8;
}
