.contacts {
  padding-bottom: 260px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.google,
.mail{
  padding-left: 10px;
  padding-right: 10px;
}

.back-container {
  padding-top: 150px;
  cursor: pointer;
}