.contacts {
  padding-bottom: 90px;
}

.contacts-explain {
  text-align: center;
  padding-bottom: 40px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.google,
.mail{
  padding-left: 10px;
  padding-right: 10px;
}

.back-container {
  padding-top: 130px;
  cursor: pointer;
}